<div class='container'>
  <h4 class='text-center m-3'>
    {{#if term}}
      Search results for {{term}}
    {{else}}
      All adverts
    {{/if}}
  </h4>

  <div class='row'>
    <button type="button" class="btn btn-info dropdown-toggle m-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort
    </button>
    <div class="dropdown-menu bg-light">
      <form action='/ads/search'>
        <input name="term" type="hidden" value={{term}}>
        <button name="sort_by" value='price_desc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
          Price<span class='mx-1'>↓</span>
        </button>
        <button name="sort_by" value='price_asc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
          Price<span class='mx-1'>↑</span>
        </button>
        {{#if user}}
          <button name="sort_by" value='distance_desc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
            Distance<span class='mx-1'>↓</span>
          </button>
          <button name="sort_by" value='distance_asc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
            Distance<span class='mx-1'>↑</span>
          </button>
        {{/if}}
      </form>
  </div>

  {{#each ads}}
  <div class='row my-2 p-2 border-top' onclick="javascript: document.getElementById('ads_info_{{id}}').submit()">
    <form action='/ads/info' id='ads_info_{{id}}'>
      <input name='id' type='hidden' value={{id}}>
    </form>
    <div class='col-7 container'>
      <div class='row text-capitalize' style='font-size: 1.2rem'>{{title}}</div>
      <div class='row my-1 font-weight-bold' style='font-size: 1.2rem'>£ {{price}}</div>
      <div class='row my-1 text-success' style='font-size: 0.9rem'>{{location}}</div>
      {{#if distance}}
        <div class='row text-muted' style='font-size: 0.9rem'>
          {{distance}} miles from {{../user.postcode}}
        </div>
      {{/if}}
      <div class='row my-1 text-italic text-muted' style='font-size: 0.9rem'>
        Posted on {{createdAt}}
      </div>
    </div>
    {{#if urls}}
      <div class='col-5' style='height: 100%'>
        <img class="img-fluid rounded float-right" src={{urls.[0]}} alt="Item image" style='max-height: 100%'>
      </div>
    {{/if}}
  </div>
  {{else}}
    {{#if errorMessage}}
      <div class='row d-flex justify-content-center text-danger'>{{errorMessage}}</div>
      {{else}}
      <div class='row d-flex justify-content-center text-muted'><p>No adverts found</p></div>
    {{/if}}
  {{/each}}
</div>

