<div class='container'>
  <h4 class='text-center m-3'>
    {{#if term}}
      Search results for {{term}}
    {{else}}
      All ads
    {{/if}}
  </h4>

  <div class='row'>
    <div class="float-right btn-group mx-1 ">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort
      </button>
      <div class="dropdown-menu bg-light">
        <form action='/ads/search'>
          <input name="term" type="hidden" value={{term}}>
          <button name="sort_by" value='price_desc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
            Price (Descending)
          </button>
          <button name="sort_by" value='price_asc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
            Price (Ascending)
          </button>
          {{#if user}}
            <button name="sort_by" value='distance_desc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
              Distance (Descending)
            </button>
            <button name="sort_by" value='distance_asc' class="dropdown-item py-2 text-capitalize" type="submit" style='color: black'>
              Distance (Ascending)
            </button>
          {{/if}}
        </form>
      </div>

      {{#if user}}
        {{#if ads}}
        <div class='m-1 text-muted text-center font-italic'>* Distances are calculated from {{user.location}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#each ads}}
  <div class='ads card m-3 shadow bg-light'>
    <div class='card-body'>

      <img class="card-img-top" src="https://i.ibb.co/8Mvdkrk/apple-watch.jpg" alt="Card image cap">

      <div class='bg-secondary p-3'>
        <h5 class='font-weight-bold text-capitalize'>{{title}}</h5>
      </div>

      <div class='bg-secondary p-3'>
        <h5>
          <span class='float-right'>£ {{price}}</span>
          {{#if distance}}
            <span>{{distance}} miles</span>
          {{/if}}
        </h5>
      </div>

      <div class='bg-light p-2 shadow-sm'>
        <h6 class='font-weight-bold'>Description</h6>
        <p>{{description}}</p>
      </div>

      <table class='table table-borderless' style='word-wrap: break-word'>
        <tr>
          <td>Categories</td>
          <td class='text-capitalize'>{{categories}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{location}}</td>
        </tr>
        <tr>
          <td>Contact Email</td>
          <td style='word-break: break-all'>{{contact_email}}</td>
        </tr>
        <tr>
          <td>Seller name</td>
          <td class='text-capitalize'>{{seller_name}}</td>
        </tr>
        <tr>
          <td>Posted at</td>
          <td>{{createdAt}}</td>
        </tr>
      </table>      
    
    </div>
  </div>
  {{else}}
    {{#if errorMessage}}
      <div class='row d-flex justify-content-center text-danger'>{{errorMessage}}</div>
      {{else}}
      <div class='row d-flex justify-content-center text-muted'><p>No adverts found</p></div>
    {{/if}}
  {{/each}}
</div>

