<div class='container'>
  <h4 class='text-center m-3'>
    {{#if term}}
      Search results for {{term}}
    {{else}}
      All ads
    {{/if}}
  </h4>

  {{#each ads}}
  <div class='ads card m-3 shadow bg-light'>
    <div class='card-body'>
      <h4 class='bg-secondary p-2'>{{title}}</h4>
      <table class='table table-borderless'>
        <tr>
          <td>Description:</td>
          <td>{{description}}</td>
        </tr>
        <tr>
          <td>Categories:</td>
          <td>{{categories}}</td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>£ {{price}}</td>
        </tr>
        <tr>
          <td>Contact Email:</td>
          <td>{{contact_email}}</td>
        </tr>
        <tr>
          <td>Posted at:</td>
          <td>{{createdAt}}</td>
        </tr>
        <tr>
          <td>Updated at:</td>
          <td>{{updatedAt}}</td>
        </tr>
      </table>      
    </div>
  </div>
  {{else}}
    <p>No adverts posted</p>
  {{/each}}
</div>

