<div class='container'>
  {{#if user}}
    <div class='text-center m-2 text-capitalize font-italic'>Welcome, {{user.name}}</div>
  {{/if}}
  <div class='row d-flex justify-content-center'>
    <form action='/ads/search' class='form'>
      <div class='form-group d-flex justify-content-center'>
        <input name='term' class='form-control m-1' type='text' placeholder="Looking for.." value={{term}}>
        <span><button class='btn btn-success m-1' type='submit'>Search</button></span>        
      </div>

    <br>
      {{#if errorMessage}}
        <div class='text-center text-warning'>{{errorMessage}}</div>
      {{/if}}
    <br>

      <div class='form-group my-3 p-3 shadow-sm' style='background-color:rgba(221, 222, 255, 0.815)'>
      <h5 class='text-center font-weight-bold'>Filters</h5>
        <label class='font-weight-bold'>Price</label><br>
        <span><input name='min_price' class='form-control my-1' type='number' min='0' max='100000' placeholder='Min Price' value={{min_price}}></span>
        <span><input name='max_price' class='form-control my-1' type='number' min='0' max='100000' placeholder='Max Price' value={{max_price}}></span>

      <br>
        <label class='font-weight-bold'>Distance (miles)</label><br>
        {{#if user}}
          <span><input name='min_distance' class='form-control my-1' type='number' min='0' max='1500' placeholder='Min Distance'></span>
          <span><input name='max_distance' class='form-control my-1' type='number' min='0' max='1500' placeholder='Max Distance'></span>
      {{else}}
          <span><input name='min_distance' class='form-control my-1' type='number' min='0' max='1500' placeholder='Min Distance' disabled></span>
          <span><input name='max_distance' class='form-control my-1' type='number' min='0' max='1500' placeholder='Max Distance' disabled></span>
          <small class='text-muted'>Login required</small>
      {{/if}}
      
      </div>
    </form>
  </div>
</div>