<div class="container">
  <div class="row d-flex justify-content-center">
    <h4 class='text-center'>Inbox</h4>
  </div>
  <div class="row shadow-sm">
    <div class='col border'>
      {{#if messages}}
        {{#each messages}}
          <div class='row p-3 border-bottom'>
            <div class='col'>
              <table class='table table-borderless'>
                <tr>
                  <th>From:</th>
                  <td>{{sender_name}}</td>
                </tr>
                <tr>
                  <th>Sent:</th>
                  <td>{{createdAt}}</td>
                </tr>
                <tr>
                  <th>Advert:</th>
                  <td><a href=/ads/info?id={{advert_id}}>{{advert_title}}</a></td>
                </tr>
                <tr>
                  <th>Message:</th>
                  <td>{{content}}</td>
                </tr>
              </table>
              <div class='row'>
                <div class='col-3'>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#replyToggle{{@index}}"
                    aria-expanded="false" aria-controls="replyToggle{{@index}}">
                    Reply
                  </button>
                </div>            
                <div class="col-9 collapse multi-collapse" id="replyToggle{{@index}}">
                  <div class='row'>
                    <div class='col-8'>
                      <input class='form-control' type='text'>
                    </div>
                    <div class='col-4'>
                      <button class='btn btn-success'>Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        {{else}}
        <p>No messages</p>
      {{/if}}

    </div>
  </div>
  
  <div class="row">
    {{#if successMessage}}
      {{> success_message}}
    {{/if}}
    {{#if errorMessage}}
      {{> error_message}}
    {{/if}}


  </div>
</div>