<div class="container" style='word-wrap: break-word'>

  <div class="row d-flex justify-content-center">
    <h4 class='text-center'>Inbox</h4>
  </div>
  <div class="row">
    {{#if successMessage}}
      {{> success_message}}
    {{/if}}
    {{#if errorMessage}}
      {{> error_message}}
    {{/if}}
  </div>
  <div class="row shadow-sm">
    <div class='col border'>
      {{#if messages}}
        {{#each messages}}
        {{#if is_read}}
          <div class='row p-3 border-bottom'>
          {{else}}
          <div class='row p-3 border-bottom' style='background-color: rgb(236, 236, 236)'>
        {{/if}}
            <div class='col'>
              <div class='row mx-2 my-3'>
                <div class='col'>
                  <div class='row font-weight-bold'>From:</div>
                  <div class='row'>{{sender_name}}</div>
                </div>
              </div>
              <div class='row mx-2 my-3'>
                <div class='col'>
                  <div class='row font-weight-bold'>Sent:</div>
                  <div class='row'>{{createdAt}}</div>
                </div>
              </div>
              <div class='row mx-2 my-3'>
                <div class='col'>
                  <div class='row font-weight-bold'>Advert:</div>
                  <div class='row'><a href=/ads/info?id={{advert_id}}>{{advert_title}}</a></div>
                </div>
              </div>
              <div class='row mx-2 my-3'>
                <div class='col'>
                  <div class='row font-weight-bold'>Message:</div>
                  <div class='row'>{{content}}</div>
                </div>
              </div>
              {{#unless is_read}}
                <div class='row my-3'>
                  <form action='/message/read' method='POST'>
                    <input name="message_id" type='hidden' value={{id}}>
                    <button class='btn btn-primary' type='submit'>Mark as read</button>
                  </form>
                </div>
              {{/unless}}
              <div class='row'>
                <div class='col-3'>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#replyToggle{{@index}}"
                    aria-expanded="false" aria-controls="replyToggle{{@index}}">
                    Reply
                  </button>
                </div>            
                <div class="col-9 collapse multi-collapse" id="replyToggle{{@index}}">
                  <div class='row'>
                    <div class='col'>
                      <form action='/message' method='POST'>
                        <input name="is_reply" type="hidden" value='true'>
                        <input name="recipient_id" type="hidden" value={{sender_id}}>
                        <input name="advert_id" type="hidden" value={{advert_id}}>
                        <div class='form-group'>
                          <input name="reply_content" class='form-control' type="text" placeholder="Enter message">
                        </div>
                        <button type="submit" class="btn btn-success">
                          Send
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        {{else}}
        <p>No messages</p>
      {{/if}}

    </div>
  </div>
</div>