<div class='container'>

  <h3 class='text-center m-3'>Post an advert</h3>
  <h4 class='text-center bg-danger p-1' style='color:white'>{{errorMessage}}</h4>
  <div class='ads row m-2 d-flex justify-content-center'>
    <form action='/ads/post' method='POST'>
      <div class="form-group">        
        <label for="title">Title</label>
        <input name='title' type="text" class="form-control" id="title" required value={{title}} >
      </div>

      <div class="form-group">        
        <label for="description">Description</label>
        <textarea name='description'  class="form-control" id="description" rows='3' required value={{description}} ></textarea>
        <small class="form-text text-muted">Try to describe your item in detail</small>
      </div>

      <div class="form-group">        
        <label for="categories">Categories</label>
        <input name='categories' type="text" class="form-control" id="categories" required value={{categories}} >
        <small class="form-text text-muted">E.g. accessories, sports, games</small>
      </div>

      <div class="form-group">        
        <label for="price">Price</label>
        <input name='price' type="number" class="form-control" id="price" min='0' step='0.01' required value={{price}} >
        <small class="form-text text-muted">Enter 0 for free items</small>
      </div>

      <div class="form-group">        
        <label for="postcode">Postcode</label>
        <input name='postcode' type="text" class="form-control" id="postcode" required value={{postcode}} >
        <small class="form-text text-muted">Enter a valid postcode</small>
      </div>

      <div class="form-group">        
        <label for="exampleInputEmail1">Contact Email</label>
        <input name='contact_email' type="email" class="form-control" id="contactEmail" required value={{contact_email}} >
        <small class="form-text text-muted">This will allow interested buyer to contact you</small>
      </div>

      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>

</div>